# -*- mode: gitattributes; -*-

dist/**			linguist-vendored
public/sitemap-0.xml 	linguist-vendored
public/*.xml		linguist-vendored
public/robots.txt 	linguist-vendored

# git archive ignore 
/.github            export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/test               export-ignore
